body{
    background-color:#deb887;
    color:darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}
li{
    list-style-type: none;
}
header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 20px 70px;
    

    
}
h1{
    font-size: 48px;
    text-transform:uppercase;
    }
header ul{
    display: flex;
    text-decoration: none;
}
header li{
    margin-right: 30px;
    list-style-type:none;
    text-transform: uppercase;
}
header li a{
    text-decoration: none;
    font-size: 20px;
    color:darkslategray;
}
main{
    margin: 30px 70px;
    
}
.banner{
    margin: 80px 0px;
}
h2{
    text-align: left;
    margin-top: 60px;
    color: white;
    font-weight: 600;
    font-size: 36px;
}

.whoIsJack{
    
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

#contact ul{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}
#contact ul li{
    list-style-type: none;
}
#contact ul li a{
    color: #00008b;
    font-size: 48px;

}

